.layout {
    display: flex;
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    background-image: url(/main-page/page_light.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.siteLayout {
    background-color: transparent;
}