:root {
    --color-text: #262626;
    --geekblue-6: #2F54EB;
    --geekblue-9: #061178;
    --gray-7: #8c8c8c;
}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: var(--color-text);
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    margin: 0;
}

h3 {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
}

h4 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}

h6 {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    margin: 0;
}

.body-regular {
    color: var(--color-text);
    font-size: 14px;
    line-height: 18.2px;
}

/* alaptive */

@media (max-width: 835px) {
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 31.2px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
    }

    /* mobile sider */
    .mob-menu {
        border: 0;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    }

    .mob-menu .ant-menu-item {
        padding: 0 8px;
    }
}